[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
bs4 = "*"
lxml = "*"
googletrans = "==4.0.0-rc1"
deep-translator = "*"

[dev-packages]

[requires]
python_version = "3.8"
